:root {
    --primary-color: #3a4052;
}

html, body{
    margin: 0;
    padding: 0;
}

.landing{
    color: #fff;
}

.header{
    background: var(--primary-color);
    width: 100%;
    top: 0;
    height: 66px;
    position: absolute;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
}

.disclaimer{
    background: var(--primary-color);
    width: 100%;
    height: 15px;
    bottom: 0;
    color: white;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    z-index: 2;
}

.page-background{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 66px;
    background: var(--primary-color) no-repeat center
    center/cover;
    display: flex;
}

.Paimon-profile{
    border-radius: 50%;
    display: flex;
    align-self: start;
    box-shadow: 0 0 50px #ccc;
    width: 60px;
    z-index: 2;
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

#paimon-profile{
    border-radius: 50%;
    display: inline-block;
}

#traveler-profile{
    border-radius: 50%;
    display: inline-block;
}